body {
  font-family: "Manrope", sans-serif;
  background-color: #3e4a4f;
}
h1 {
  color: rgb(250, 250, 250);
  font-size: 3rem;
}
p {
  color: rgb(253, 251, 251);
  font-size: 3rem;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  font-size: 20px;
  text-align: center;
}

.calculator {
  padding-top: 8rem;
}
